*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
    height: 800px;
    border: 1px solid black;
}
.row{
    display: flex;
}
.block_1{
    width: 29%;
    height: 206px;
    border: 1px solid black;
    float: right;
}
.block_2{
    width: 20%;
    height: 50px;
    border: 1px solid black;
    float: right;
}
.block_3{
    width: 80%;
    height: 50px;
    border: 1px solid black;
    float: right;
}
.block_4{
    width: 100%;
    height: 50px;
    border: 1px solid black;
}
.block_5{
    width: 15%;
    height: 306px;
    border: 1px solid black;
    float: left;
}
.block_6{
    width: 53%;
    height: 50px;
    border: 1px solid black;
    float: left;
}
.block_8{
    width: 84%;
    height: 100px;
    border: 1px solid black;
    float: left;
}
.block_9{
    width: 53%;
    height: 100px;
    border: 1px solid black;
    float: left;
}
.block_10{
    width: 30%;
    height: 100px;
    border: 1px solid black;
    float: left;
}